<div class="dashboard">
  {% load static %}

  <h1 id='app-title'>.Moes</h1>
  
  <div class='topic-links'>
    <p><a href="{% url 'home' %}"><img src="{% static '/images/home.png' %}" alt="home" class='home-img'> HOME</a></p>
    <p><a href="{% url 'home' %}"><img src="{% static '/images/calendar.png' %}" alt="calendar" class='home-img'> Calendar</a></p>
    <p><a href="{% url 'home' %}"><img src="{% static '/images/clock.png' %}" alt="clock" class='home-img'> Upcoming</a></p>
  {% comment %} {% for topic in topics %}
  <p><a >{{topic}}</a></p>
  {% endfor %} {% endcomment %}
  </div>
  {% if request.user.is_authenticated %}
  <div class='login-dashboard'>
  <h3> Hello, {{request.user}} <img src="{% static '/images/user.png' %}" alt="user" id='user-img'></h3>
  <h4><a href='{% url 'logout' %}'>Logout</a></h4>
  </div>
  {% else %}
  <div class='login-dashboard'>
  <h4><a href="{% url 'login' %}">Login</a></h4>
  </div>
  {% endif %}
</div>


<style>

</style>