{% include 'todo/navbar.html' %}

<h1>Tasks to do</h1>

<ul>

  <h2><a href='{% url 'create' %}'>create</a></h2>

  <form method='get' action=''>
    <input type='text' name='q' placeholder='Search tasks...' />
  </form>

  <h2>Uncompleted Tasks</h2>
  {% for task in task_list %}
  
  {% if not task.completed %}
  <li>{{ task.name }} -- {{  task.time_created }} -- {% if not task.completed %}uncompleted{% else %}completed{% endif %} <a href='{% url 'detail' task.id %}'>View Task</a> <a href='{% url 'delete' task.id %}'>Delete</a> <a href='{% url 'update' task.id %}'>Update</a> <a href='{% url 'complete' task.id %}'>Complete</a></li>
  {% endif %}
  {% endfor %}
  <h2>Completed Tasks</h2>
  {% for task in task_list %}
  
  {% if task.completed %}
  <li>{{ task.name }} -- {{  task.time_created }} -- {% if not task.completed %}uncompleted{% else %}completed{% endif %} <a href='{% url 'detail' task.id %}'>View Task</a> <a href='{% url 'delete' task.id %}'>Delete</a> <a href='{% url 'update' task.id %}'>Update</a> <a href='{% url 'complete' task.id %}'>Complete</a></li>
  {% endif %}
  {% endfor %}
</ul>